@import "colours.css";

* {
    font-family: JetBrainsMono Nerd Font;

    color: @text;
    background: transparent;
    border-color: @highlightHigh;

    box-shadow: none;
    text-shadow: none;

    /* matches niri config */
    border-width: 2px;
    border-radius: 6px;
}

/* Outermost modules */
#battery {
    /* matches niri config */
    margin-right: 6px;
}

#wireplumber.microphone {
    /* matches niri config */
    margin-left: 6px;
}

window > * {
    /* matches niri config */
    margin-top: 6px;
}

window {
    background: transparent;
}

tooltip {
    background: @base;
}

button {
    background: @base;
}

button:hover {
    background: @highlightMed;
}

#clock,
#battery,
#backlight,
#custom-kbd-backlight,
#network,
#wireplumber
{
    background: @base;
    padding: 6px 14px;
    border-style: solid;
}



#wireplumber.microphone:not(.muted) {
    border-color: @gold;
}

#wireplumber.speaker.muted {
    border-color: @gold;
}

#network.disconnected {
    border-color: @love;
}

#battery.charging, #battery.plugged {
    border-color: @pine;
}

#battery.warning:not(.charging) {
    border-color: @gold;
}

#battery.critical:not(.charging) {
    border-color: @love;
}

#network.ethernet {
    border-color: @pine;
}

#network.wifi {
    border-color: @foam;
}
